---
---

<div class="bg-[#3B82F6] bg-opacity-[50%] blur-[200px] w-[600px] h-[560px] fixed bottom-[-350px] left-[80px] z-[-1]"></div>

<div class="bg-[#3B82F6] bg-opacity-[50%] blur-[200px] w-[600px] h-[560px] fixed top-[-350px] right-[80px] z-[-1]"></div>
