---
---

<div class="w-[100%] h-[100vh] flex items-center justify-between px-[147px]">
    <div class="flex items-start justify-center w-[50%] h-[100%] flex-col">
        <h2 class="text-[42px] text-[#EFF5FF] font-bold">Hola! Soy</h2>
        <h1 class="text-[54px] text-[#EFF5FF] font-bold">Fernando Torrón</h1>
        <h3 class="text-[36px] text-[#DDDDDD] font-bold">Desarrollador Fullstack</h3>
        <div class="flex items-center justify-start mt-[20px] gap-[40px]">
            <a target="_blank" href="https://drive.google.com/file/d/1uCkIwg1Xpwp-aLRuBjsr6islOt4AmTTC/view?usp=sharing" class="text-[20px] px-[18px] py-[9px] bg-accent hover:bg-[#0065D9] transition-all rounded-[8px] font-bold text-[#EFF5FF]">Descargar CV</a>
            <a target="_blank" href="https://github.com/FerTorron"><img class="w-[35px] h-[35px]" src="./github.svg" alt="Icono de Github"></a>
            <a target="_blank" href="https://www.linkedin.com/in/fertorron/"><img class="w-[35px] h-[35px]" src="./linkedin.svg" alt="Icono de Linkedin"></a>
        </div>
    </div>
    <div class="w-[50%] flex items-center justify-end">
        <img class="w-[400px] h-[400px]" src="./perfil.png" alt="Imagen de perfil Fernando Torrón">
    </div>
</div>
