---
const languages = [
    {
        name: 'Español',
        level: 'Nativo',
    },
    {
        name: 'Ingles',
        level: 'Intermedio',
    },
    {
        name: 'Italiano',
        level: 'Básico',
    },
]
---

<div class="w-full mt-[100px] flex items-center justify-center">
    <div class="w-[80%] flex items-start justify-center flex-col gap-[50px]">
        <span class="text-4xl lg:text-5xl text-[#EFF5FF]  font-bold flex items-center gap-3 justify-center"><img class="w-[35px] h-[35px]" src="./languages.svg" alt="Icono de Libros"> Idiomas</span>
        <div class="flex items-center justify-center lg:justify-start gap-[50px] flex-wrap">
            {languages.map((language) => (
                <div class="w-auto h-[115px] flex items-center px-5 justify-center gap-1 bg-[#9AB6FF] border-[#9AB6FF] border-[1px] bg-opacity-[30%] rounded-[20px] shadow-[rgba(0,0,0,0.25)_3px_5px] hover:bg-[#4760A1] hover:translate-y-[-5px] transition-all cursor-pointer">
                    <span class="text-xl font-bold text-[#f0f6ff]">{language.name} - <b class="text-[1.1rem]">{language.level}</b></span>
                </div>
            ))}
        </div>
    </div>
</div>
