---
---

<div id="inicio" class="w-full h-screen mt-1 lg:mt-0 flex items-center justify-center">
    <div class="w-[80%] h-full flex flex-col-reverse lg:flex-row items-center justify-center lg:justify-between">
        <div class="flex items-center mt-4 lg:mt-0 lg:items-start justify-center gap-2 w-full lg:w-1/2 h-60 lg:h-full flex-col text-center md:text-left">
            <h2 class="text-4xl md:text-4xl lg:text-5xl text-[#EFF5FF] font-bold">Hola! Soy</h2>
            <h1 class="text-4xl md:text-5xl lg:text-6xl text-[#EFF5FF] font-bold">Fernando Torrón</h1>
            <h3 class="text-xl md:text-2xl lg:text-3xl text-[#DDDDDD] font-bold">Desarrollador Fullstack</h3>
            <div class="flex items-center justify-center md:justify-start mt-5 gap-5 md:gap-10">
                <a target="_blank" href="https://drive.google.com/file/d/1uCkIwg1Xpwp-aLRuBjsr6islOt4AmTTC/view?usp=sharing" class="text-md lg:text-lg px-4 py-2 bg-accent hover:bg-[#0065D9] transition-all rounded-lg font-bold text-[#EFF5FF]">Descargar CV</a>
                <a target="_blank" href="https://github.com/FerTorron"><img class="w-8 h-8 md:w-9 md:h-9" src="./github.svg" alt="Icono de Github"></a>
                <a target="_blank" href="https://www.linkedin.com/in/fertorron/"><img class="w-8 h-8 md:w-9 md:h-9" src="./linkedin.svg" alt="Icono de Linkedin"></a>
            </div>
        </div>
        <div class="w-full md:w-1/2 flex items-center justify-center lg:justify-end">
            <img class="w-[80%] md:w-[400px] h-auto" src="./perfil.png" alt="Imagen de perfil Fernando Torrón">
        </div>
    </div>
</div>