---

---

<header class="w-[100%] h-[68px] flex items-center justify-center fixed top-[15px] z-[150]">
    <nav class="w-[60%] h-[100%] px-[63px] bg-[#9AB6FF] bg-opacity-[50%] top-[20px] rounded-[35px] shadow-[rgba(0,0,0,0.25)_3px_5px]">
        <ul class="h-[100%] flex items-center justify-between">
            <li class="font-spaceGrotesk text-[24px] font-bold text-[#f0f6ff]">Inicio</li>
            <li class="font-spaceGrotesk text-[24px] font-bold text-[#f0f6ff]">Sobre mí</li>
            <li class="font-spaceGrotesk text-[24px] font-bold text-[#f0f6ff]">Proyectos</li>
            <li class="font-spaceGrotesk text-[24px] font-bold text-[#f0f6ff]">Contacto</li>
        </ul>
    </nav>
</header>
