---

---

<header class="w-[100%] h-[65px] flex items-center justify-center fixed top-[15px] z-[150]">
    <nav class="w-[60%] h-[100%] px-[63px] bg-[#9AB6FF] bg-blue-500 bg-clip-padding backdrop-filter backdrop-blur-lg bg-opacity-10 border border-gray-100 top-[20px] rounded-[35px] shadow-[rgba(0,0,0,0.25)_3px_5px]">
        <ul class="h-[100%] flex items-center justify-between">
            <li class="text-[1.2rem] font-bold text-[#f0f6ff] px-[10px] py-[10px] rounded-[10px] hover:opacity-[0.7] hover:cursor-pointer hover:bg-background transition-[.3s]">Inicio</li>
            <li class="text-[1.2rem] font-bold text-[#f0f6ff] px-[10px] py-[10px] rounded-[10px] hover:opacity-[0.7] hover:cursor-pointer hover:bg-background transition-[.3s]">Sobre mí</li>
            <li class="text-[1.2rem] font-bold text-[#f0f6ff] px-[10px] py-[10px] rounded-[10px] hover:opacity-[0.7] hover:cursor-pointer hover:bg-background transition-[.3s]">Proyectos</li>
            <li class="text-[1.2rem] font-bold text-[#f0f6ff] px-[10px] py-[10px] rounded-[10px] hover:opacity-[0.7] hover:cursor-pointer hover:bg-background transition-[.3s]">Contacto</li>
        </ul>
    </nav>
</header>
