---
---

<div class="w-[100%] mt-[100px] flex items-center justify-between px-[147px]">
    <div class="flex items-start justify-center flex-col gap-[50px]">
        <span class="text-[2.5rem] text-[#EFF5FF]  font-bold flex items-center gap-3 justify-center"><img class="w-[35px] h-[35px]" src="./code.svg" alt="Icono de Codigo"> Proyectos</span>
    <div class="flex items-center justify-start gap-[50px] w-[80%] flex-wrap">
        <div class="w-[650px] h-[480px] relative gap-[10px] px-[50px] py-[30px] flex items-start flex-col bg-[#9AB6FF] border-[#9AB6FF] border-[1px] bg-opacity-[30%] rounded-[20px] shadow-[rgba(0,0,0,0.25)_3px_5px]">
            <span class="text-[1.8rem] font-bold text-[#f0f6ff]">Lans Accesorios</span>
            <img class="w-[100%]" src="./projects/lans.png" alt="Captura de pantalla del proyecto">
            <p class="text-[1.2rem] text-[#EFF5FF] font-normal">Un Eccomerce para la venta de Accesorios de Cuero</p>
            <div class="flex items-start justify-center gap-[10px] mt-[10px]">
                <img class="w-[15px] h-[33px]" src="./icons/mongodb.png" alt="Logo de MongoDB">
                <img class="w-[30px] h-[33px]" src="./icons/nodejs.png" alt="Logo de NodeJS">
                <img class="w-[30px] h-[33px]" src="./icons/express.png" alt="Logo de Express">
                <img class="w-[30px] h-[33px]" src="./icons/handlebars.png" alt="Logo de Hanblebars">
            </div>
            <div class="flex items-center justify-center absolute bottom-[20px] right-[20px] gap-[10px]">
                <a target="_blank" href="https://github.com/FerTorron/lans-accesorios"><img class="w-[35px] h-[35px]" src="./github.svg" alt="Icono de Github"></a>
                <a target="_blank" href=""><img class="w-[35px] h-[35px]" src="./link.svg" alt="Icono de Link"></a>
            </div>
        </div>
    </div>
    </div>
</div>
