---
---
<div class="w-[100%] flex items-center justify-between px-[147px]">
    <div class="w-[80%] flex items-start justify-center flex-col gap-[50px]">
        <span class="text-[2.5rem] text-[#EFF5FF]  font-bold flex items-center gap-3"><img class="w-[50px] h-[50px]" src="./user.svg" alt="Icono de usuario"> Sobre mí</span>
        <p class="text-[1.8rem] text-[#EFF5FF] font-normal">Soy Fernando Nahuel Torrón, un apasionado <b class="t text-secondary">Desarrollador Web Fullstack</b>. Después de completar mis estudios en CoderHouse y sumergirme en el aprendizaje autodidacta, estoy listo para embarcarme en mi viaje profesional y contribuir con entusiasmo y conocimientos a cualquier equipo.</p>
    </div>
</div>
