---
---
<div id="sobremi" class="w-[100%] flex items-center justify-center">
    <div class="w-[80%] flex items-start justify-center flex-col gap-[50px]">
        <span class="text-4xl lg:text-5xl text-[#EFF5FF]  font-bold flex items-center gap-3"><img loading="lazy" class="w-[60px] h-[50px]" src="./user.svg" alt="Icono de usuario"> Sobre mí</span>
        <p class="text-2xl lg:text-3xl text-[#EFF5FF] font-normal lg:pr-[300px]">Soy <b class="t text-secondary">Desarrollador Fullstack</b> con un enfoque principal en frontend. Me gusta crear aplicaciones modernas, escalables y fáciles de usar. Disfruto aprender nuevas tecnologías y aplicarlas en proyectos reales, desde librerías de componentes hasta integraciones complejas. Valoro mucho el trabajo en equipo, el buen diseño de software y la mejora constante de mis habilidades.</p>
    </div>
</div>
