---
---
<div id="sobremi" class="w-[100%] flex items-center justify-center">
    <div class="w-[80%] flex items-start justify-center flex-col gap-[50px]">
        <span class="text-4xl lg:text-5xl text-[#EFF5FF]  font-bold flex items-center gap-3"><img class="w-[60px] h-[50px]" src="./user.svg" alt="Icono de usuario"> Sobre mí</span>
        <p class="text-2xl lg:text-3xl text-[#EFF5FF] font-normal lg:pr-[300px]">Soy Fernando Nahuel Torrón, un apasionado <b class="t text-secondary">Desarrollador Web Fullstack</b>. Después de completar mis estudios en CoderHouse y sumergirme en el aprendizaje autodidacta, estoy listo para embarcarme en mi viaje profesional y contribuir con entusiasmo y conocimientos a cualquier equipo.</p>
    </div>
</div>
