---

---

<div class="w-[80px] h-[200px] bg-[#9AB6FF] bg-blue-500 bg-clip-padding backdrop-filter backdrop-blur-lg bg-opacity-10 border border-gray-100 top-[35%] rounded-[35px] shadow-[rgba(0,0,0,0.25)_3px_5px] flex items-center justify-around flex-col fixed right-[25px] z-[150]">
        <a target="_blank" href="https://github.com/FerTorron"><img class="w-[35px] h-[35px]" src="./github.svg" alt="Icono de Github"></a>
        <a target="_blank" href="https://www.linkedin.com/in/fertorron/"><img class="w-[35px] h-[35px]" src="./linkedin.svg" alt="Icono de Linkedin"></a>
</div>
