---
const tecnologies = [
    {
        name: 'HTML',
        icon: './icons/html.png'
    },
    {
        name: 'CSS',
        icon: './icons/css.png'
    },
    {
        name: 'JS',
        icon: './icons/js.png'
    },
    {
        name: 'Typescript',
        icon: './icons/typescript.png'
    },
    {
        name: 'SASS',
        icon: './icons/sass.png'
    },
    {
        name: 'React',
        icon: './icons/react.png'
    },
    {
        name: 'NextJS',
        icon: './icons/nextjs.png'
    },
    {
        name: 'Astro',
        icon: './icons/astro.png'
    },
    {
        name: 'Storybook',
        icon: './icons/storybook.svg'
    },
    {
        name: "Vitest",
        icon: "./icons/vitest.png"
    },
    {
        name: 'NodeJS',
        icon: './icons/nodejs.png'
    },
    {
        name: 'MongoDB',
        icon: './icons/mongodb.png'
    },
    {
        name: 'Express',
        icon: './icons/express.png'
    },
    {
        name: 'Apollo',
        icon: './icons/apollo.svg'
    },
    {
        name: 'TailwindCSS',
        icon: './icons/tailwind.png'
    },
    {
        name: 'GIT',
        icon: './icons/git.png'
    },
    {
        name: 'PostgreSQL',
        icon: './icons/postgresql.svg'
    },
]
---

<div class="w-full mt-[100px] flex items-center justify-center">
    <div class="w-[80%] flex items-start justify-center flex-col gap-[50px]">
        <span class="text-4xl lg:text-5xl text-[#EFF5FF]  font-bold flex items-center gap-3 justify-center"><img loading="lazy" class="w-[35px] h-[35px]" src="./books.svg" alt="Icono de Libros"> Tecnologías</span>
        <div class="flex items-center justify-center lg:justify-start gap-[50px] flex-wrap lg:pr-[200px]">
            {tecnologies.map((tecnologie) => (
                <div class="w-[115px] h-[115px] flex items-center flex-col gap-[5px] justify-center bg-[#9AB6FF] border-[#9AB6FF] border-[1px] bg-opacity-[30%] rounded-[20px] shadow-[rgba(0,0,0,0.25)_3px_5px] hover:bg-[#4760A1] hover:translate-y-[-5px] transition-all cursor-pointer">
                <img src={tecnologie.icon} class="object-contain w-[48px] h-[48px]" loading="lazy" alt="Icono de HTML">
                <span class="text-[1.1rem] font-bold text-[#f0f6ff]">{tecnologie.name}</span>
                </div>
            ))}
        </div>
    </div>
</div>
